{% load i18n %}

{% block subject %}
{% blocktrans %}Restablecimiento de Contraseña en The Leaf Way{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Has recibido este correo electrónico porque solicitaste un restablecimiento de contraseña para tu cuenta en The Leaf Way.{% endblocktrans %}

{% blocktrans %}Por favor, ve a la siguiente página para elegir una nueva contraseña:{% endblocktrans %}
http://localhost:3000/password-reset/{{ uid }}/{{ token }}

{% trans "Tu nombre de usuario, en caso de que lo hayas olvidado:" %} {{ user.get_username }}
{% endblock text_body %}

{% block html_body %}
<div style="font-family: Arial, sans-serif; color: #333;">
  <h2 style="color: #198754;">🌿 Restablecimiento de Contraseña en The Leaf Way</h2>
  <p>¡Hola! 👋 Has solicitado un restablecimiento de contraseña para tu cuenta en <strong>The Leaf Way</strong>.</p>
  <p style="margin-bottom: 20px;">Haz clic en el botón de abajo para elegir una nueva contraseña y continuar disfrutando de nuestros servicios.</p>

  <p style="text-align: center; margin-bottom: 30px;">
    <a href="http://localhost:3000/password-reset/{{ uid }}/{{ token }}" style="padding: 10px 20px; border: none; background-color: #51ad2d; color: white; text-decoration: none; border-radius: .3rem; text-align: center;">
      🌱 Restablecer Contraseña
    </a>
  </p>

  <p>El email con el que estás registrado, en caso de que lo hayas olvidado es: <strong>{{ user.get_username }}</strong></p>

  <p>Si tienes dificultades para restablecer tu contraseña, no dudes en contactarnos en: <a href="mailto:contacto@theleafway.com">contacto@theleafway.com</a>.</p>
  <p>¡Esperamos verte pronto de vuelta! 🌟</p>
</div>

{% endblock html_body %}
