{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - ¡Tu contraseña ha sido cambiada con éxito!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "¡Tu contraseña ha sido cambiada!" %}

{% trans "Gracias por usar nuestro sitio!" %}

{% blocktrans %}El equipo de {{ site_name }}{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "¡Tu contraseña ha sido cambiada!" %}</p>

<p style="margin-bottom:100px"><a
    style="display: inline-block; padding: 10px 20px; background-color: #51ad2d; color: white; text-decoration: none;"
    href="http://localhost:3000/login">Iniciar sesión en la Cuenta</a></p>

<i>{% blocktrans %}
  Si tienes dificultades para iniciar sesión en tu cuenta, por favor contáctanos en: <a href="mailto:contacto@theleafway.com">contacto@theleafway.com</a>
{% endblocktrans %} </i>
{% endblock html_body %}