.paginationContainer {
    margin: 0 5px; /* Espacio entre los números de página */
    font-size: 1.2rem; /* Tamaño del texto */
    align-items: center; /* Centrar verticalmente */
  }
  
  .pageItem {
    margin: 0 5px; /* Espacio adicional entre elementos */
  }

  .activePage {
    color: blue;
    background-color: lightblue;
    border-radius: 5px;
  }